* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-one: #f16718;
  --color-two: #ff9b62;
  --color-three: #162542;
  --color-four: #7b8bad;
  --color-five: #e8eff2;
  --color-six: #ffffff;
}
body {
  font-family: 'Barlow', sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.header {
  width: 1110px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
}
.header-left {
  width: 40px;
  height: 40px;
  color: var(--color-six);
  background-color: var(--color-one);
}
.header-right {
  width: 175px;
  height: 58px;
  background-color: var(--color-five);
  border-radius: 8px;
  border: none;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 83px;
}
.main-up {
  width: 1440px;
  display: flex;
  justify-content: center;
}
.Typemaster-Keyboard {
  width: 445px;
  height: 312px;
  margin: 60px 125px 108px 165px;
}
h1 {
  font-size: 56px;
}
p {
  font-size: 18px;
  color: var(--color-four);
  margin-top: 24px;
}
.pre-order {
  width: 175px;
  height: 58px;
  font-weight: bold;
  background-color: var(--color-one);
  color: var(--color-five);
  border-radius: 8px;
  border: none;
  margin-top: 40px;
  margin-right: 40px;
}
.relase {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-four);
}
.first-img {
  width: 540px;
  height: 480px;
  margin-right: 30px;
  border-radius: 20px;
}
.empty-one {
  width: 135px;
  height: 240px;
  background-color: var(--color-five);
}
.main-down {
  width: 1440px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.empty-two {
  height: 240px;
  width: 135px;
  background-color: var(--color-five);
  margin: 244px 30px 0px 0px;
}
.second-img {
  width: 255px;
  height: 480px;
  margin-right: 30px;
}
.third-img {
  width: 445px;
  height: 480px;
  margin-right: 125px;
}
.mechanical-keyboard {
  width: 255px;
  height: 265px;
  margin: 112px 165px 103px 0px;
}
.main-footer {
  width: 1110px;
  display: flex;
  justify-content: space-around;
  margin-top: 168px;
}
.down-containers {
  width: 255px;
  height: 323px;
}
h3 {
  font-size: 24px;
}
footer {
  display: flex;
  justify-content: center;
}
.footer-left {
  font-weight: bold;
}
